.holder{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.item{
	border:2px solid black;
	height:50px;
	width: 50px;
	background-color: red;
	/* flex-wrap: wrap; */
}
/* Your CSS Code here. */